<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bondy Roquero</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body {
            height: 100%;
        }
        .container-fluid {
            padding: 0px;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        .list-group {
            max-width: 400px;
        }
        .list-group-item:hover {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
            <div class="form-group col-sm-4">
                <div class="row">
                    <h1 class="display-3">Artista</h1>
                </div>
                <div class="col-sm-4">

                <div class="row ">
                    <input id='input-name' type="text" placeholder="Search an Artist.." name="search" class="form-control-lg">
                    <button id="button-search" type="submit" class="btn btn-secondary btn-lg active"><i class="fa fa-search"></i></button>
                </div>
                <br>
                <div class="row ">
                <div id='list-event' class="list-group"></div>
            </div>

            </div>
        </div>
    </div>
</body>
</html>

<script>
    var map;

function myMap() {
    var myLatLng = new google.maps.LatLng(-32.8894587, -68.84583859999998);
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
    center: myLatLng,
    zoom: 10
    };
    map = new google.maps.Map(mapCanvas, mapOptions);

}

$(document).ready(function() {
    var $buttonSearch = $('#button-search'),
        $searchIcon = $buttonSearch.find("i"),
        $inputArtist = $('#input-name'),
        $listEvent = $('#list-event'),
        spinnerClass = "fa-circle-o-notch fa-spin";

    $inputArtist.keypress(function (key) {
        if (key.keyCode == 13) {
            $buttonSearch.click();
        }
    });

    $buttonSearch.on('click', function(){
    $searchIcon.toggleClass(spinnerClass);
    $.get(
    '/performances',
    {
        name: $inputArtist.val()
    },
        function(response){
            data = $.parseJSON(response);
            $listEvent.html('');
            // For each
            data.performances.forEach(function(element) {
                var myLatLng = new google.maps.LatLng(element.event.venue.latitude, element.event.venue.longitude);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: element.event.name.text
                });
                $('#list-event').append('<div><a href="' +
                    element.event.url + '#tickets' +
                    '" target="blank" class="list-group-item list-group-item-action">' +
                    element.event.name.text +
                    '</a></div>')
            });

            directionsService.route({
                origin: origin,
                destination: destination,
                waypoints: waypoints,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
                }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        ).fail(function(){
            alert("Fallo llamada /performances");
        }).always(function () {
            $searchIcon.toggleClass(spinnerClass);
        });;
  });
})
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>