<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bondi Rockero</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/eb-pick3.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body {
            height: 100%;
        }
        .container-fluid {
            padding: 0px;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        .list-group {
            max-width: 400px;
        }

        .list-group-mine .list-group-item {
            color: black;
            width: 100%;
        }

        .list-group-mine .list-group-item:hover {
            background-color: rgb(167, 166, 166);
        }
        .right {
            overflow-y: scroll;
            max-height: 75%;
        }

        .spotify-player {
            background-color: black;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
            <div class="form-group col-sm-4">
                <div class="row py-2">
                    <input id='input-name' type="text" placeholder="Search an Artist.." name="search" class="form-control-lg">
                    <button id="button-search" type="submit" class="btn btn-secondary btn-lg active">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <br>
                <div id="spotify-player-row" class="row py-2 spotify-player-row">
                    <div id="spotify-player" class="spotify-player rounded py-1"></div>
                </div>
                <div class="row right">
                    <div id='list-event' class="list-group list-group-mine"></div>
                </div>
        </div>
    </div>
</body>
</html>

<script>
    var map;

function myMap() {
    var myLatLng = new google.maps.LatLng(-32.8894587, -68.84583859999998);
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
        mapTypeControl: false,
        center: myLatLng,
        zoom: 10,
        styles: [{
            "elementType": "geometry",
            "stylers": [{
                "color": "#1d2c4d"
            }]
        }, {
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#8ec3b9"
            }]
        }, {
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1a3646"
            }]
        }, {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#4b6878"
            }]
        }, {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#64779e"
            }]
        }, {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#4b6878"
            }]
        }, {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#334e87"
            }]
        }, {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [{
                "color": "#023e58"
            }]
        }, {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [{
                "color": "#283d6a"
            }]
        }, {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#6f9ba5"
            }]
        }, {
            "featureType": "poi",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [{
                "color": "#023e58"
            }]
        }, {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#3C7680"
            }]
        }, {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [{
                "color": "#304a7d"
            }]
        }, {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#98a5be"
            }]
        }, {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{
                "color": "#2c6675"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#255763"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#b0d5ce"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#023e58"
            }]
        }, {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#98a5be"
            }]
        }, {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "transit.line",
            "elementType": "geometry.fill",
            "stylers": [{
                "color": "#283d6a"
            }]
        }, {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [{
                "color": "#3a4762"
            }]
        }, {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{
                "color": "#0e1626"
            }]
        }, {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#4e6d70"
            }]
        }]
    };
    map = new google.maps.Map(mapCanvas, mapOptions);

}

function showSpotifyPlayButton(artist) {
    var $spotifyPlayerRow = $('#spotify-player-row'),
        $spotifyPlayer = $('#spotify-player');

    if (artist.partner_name === 'SPOTIFY') {
        var spotifyArtistId = artist['partner_artist_id'];
        spotifyArtistId = spotifyArtistId.replace('spotify:artist:', '');

        $spotifyPlayer.append(
            '<iframe src="https://open.spotify.com/embed/artist/' + spotifyArtistId + '" width="400px" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>'
        );

        $spotifyPlayerRow.css("display", "flex");
    };
}

function getPerformanceRowHTML(ebEvent) {
    var startDate = moment(ebEvent.start.local).format("MMM Do YY");

    return '<div class="py-1">' +
        '<a id="'+ ebEvent.id +'" href="' + ebEvent.url + '#tickets' +'" target="blank" class="list-group-item list-group-item-action flex-column align-items-start">' +
    '<div class="d-flex w-100 justify-content-between">' +
        '<h5 class="mb-1">' + ebEvent.name.text + '</h5>' +
        '<small>' + startDate + '</small>' +
    '</div>' +
        '<p class="mb-1">' + ebEvent.description.text + '</p>' +
    '</a></div>';
}

function getPerformanceInfowindowHTML(ebEvent) {
    return '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h3 id="firstHeading" class="firstHeading">' + ebEvent.name.html + '</h3>'+
    '<div id="bodyContent">'+
    '<img src="' + ebEvent.logo.url + '" alt="Event logo">' +
    '</div>'+
    '</div>';
}

$(document).ready(function() {
    var $buttonSearch = $('#button-search'),
        $searchIcon = $buttonSearch.find("i"),
        $inputArtist = $('#input-name'),
        $listEvent = $('#list-event'),
        $spotifyPlayer = $('#spotify-player'),
        $spotifyPlayerRow = $('#spotify-player-row'),
        spinnerClass = "fa-circle-o-notch fa-spin";

    $inputArtist.keypress(function (key) {
        if (key.keyCode == 13) {
            $buttonSearch.click();
        }
    });

    $buttonSearch.on('click', function(){
        $searchIcon.toggleClass(spinnerClass);
        $.get(
            '/performances',
            {
                name: $inputArtist.val()
            },
            function(response){
                data = $.parseJSON(response);
                $listEvent.html('');
                $spotifyPlayerRow.css("display", "none");
                $spotifyPlayer.html('');
                // For each

                var waypoints = [];
                var origin;
                var destination;
                var image = new google.maps.MarkerImage(
                  'static/eb-pick3.png',
                  new google.maps.Size(60, 60),
                  new google.maps.Point(0, 0),
                  new google.maps.Point(35, 55)
                );
                var markerOption = {
                    clickable: true,
                    flat: true,
                    icon: image,
                    visible: true,
                    map: map
                };

                var directionsService = new google.maps.DirectionsService;
                var directionsDisplay = new google.maps.DirectionsRenderer({
                  markerOptions: markerOption,
                  polylineOptions: {
                    strokeColor: "#F05537"
                  }
                });
                directionsDisplay.setMap(map);

                data.performances.forEach(function(element, idx, array) {
                    var ebEvent = element.event;

                    if (idx === 0) {
                       origin = new google.maps.LatLng(ebEvent.venue.latitude, ebEvent.venue.longitude);
                    } else if (idx === array.length - 1) {
                       destination = new google.maps.LatLng(ebEvent.venue.latitude, ebEvent.venue.longitude);
                    } else {
                       waypoints.push({ location: new google.maps.LatLng(ebEvent.venue.latitude, ebEvent.venue.longitude), stopover: true });
                    }

                    var infowindow = new google.maps.InfoWindow({
                        content: getPerformanceInfowindowHTML(ebEvent),
                        maxWidth: 300,
                    });

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(ebEvent.venue.latitude, ebEvent.venue.longitude),
                        map: map,
                        zIndex: 99999,
                        icon: image,
                    });
                    marker.addListener('mouseover', function() {
                        infowindow.open(map, marker);
                        elemid = document.getElementById(ebEvent.id);
                        $(elemid).css("background-color", "rgb(167, 166, 166)");
                    });
                    marker.addListener('mouseout', function() {
                        infowindow.close();
                        $(elemid).css("background-color", "white");
                    });

                    $listEvent.append(getPerformanceRowHTML(ebEvent));
                });

                firstArtist = data.performances[0].artists[0].partner_artists[0];
                showSpotifyPlayButton(firstArtist);

                directionsService.route({
                    origin: origin,
                    destination: destination,
                    waypoints: waypoints,
                    travelMode: 'DRIVING'
                    }, function(response, status) {
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
        ).fail(function(){
            $('#input-name').val("");
            var w = window.open("", "Message", "width=400, height=200");
            var $w = $(w.document.body);
            $w.html("<body> <p>The Artist was not found </p></body>");
        }).always(function () {
            $searchIcon.toggleClass(spinnerClass);
        });;
  });
})
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
